.width {
    width: fit-content;
}

li.text:hover {
    background-color: rgb(209, 205, 205);
}

@media screen and (max-width: 425px) {
    .w-result {
        width: 75%;
    }
}

@media screen and (min-width: 426px) {
    .w-result {
        width: 25%;
    }
}